body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: linear-gradient(to bottom, red, yellow);

}
